* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: visible;
  font-family: Helvetica, Arial, sans-serif;
}

.webgl {
  margin: 0 auto;
  width: 800px;
  position: relative;
  /* position: fixed; */
  /* top: 0;
  left: 0;
  outline: none; */
  margin-block-end: 40px;
}

.headline-text {
  max-inline-size: 620px;
  margin: 0 auto;
  font-size: 42px;
  margin-block-end: 40px;
}

.box,
.box2,
.box3 {
  position: absolute;
  border: 2px solid #333;
  width: 25%;
  padding: 20px;
  margin-inline-start: 30px;
  bottom: 0;
  left: 5%;
  background-color: #fff;
  z-index: 1;
  opacity: 0;
}

.box-title {
  font-size: 28px;
  margin-block-end: 10px;
}

.box-content-text {
  font-size: 16px;
}

.copy {
  /* margin-block-start: 60px; */
  max-inline-size: 620px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  margin-block-end: 40px;
}
